<div class="products__card">
    <img [src]="card.images[0]" class="products__image" [alt]="card.title.slice(0, 50)"> 
    <div class="products__rating-and-price">
      <div class="products__rating">{{ card.rating }}</div>
      <div class="products__price">₴{{ card.price }}</div>
    </div>
    <ul class="products__item-descriptions">

        <li (click)="setActiveItem()"
        [routerLink]="['/products', card.id]" class="products__item-name"> {{ card.title.slice(0, 50) + "..." }} </li>

        <li class="products__item-description">
            Redesigned from scratch and completely revised.
        </li>
    </ul>

    <div class="products__buttons">
      <button *ngIf="!inInWishlist" class="products__wishlist-button" (click)="addToWishlist(card)">
        WISHLIST
      </button>
      <button *ngIf="inInWishlist" class="products__wishlist-button" (click)="addToWishlist(card)">
      ADDED
    </button>
      <button *ngIf="inInWishlist" class="products__add-to-cart-button"
      (click)="addToWishlist(card)"
    >
     ADD TO CART
    </button>    
  </div>

