<header class="header">
    <div class="container">
    <header class="header">
            <div class="header__logo">
                <img class="header__logo-img" src="../../../assets/images/logo.svg" alt="logo image"> 
                <span class="header__logo-text">
                    Online Store
                </span>
            </div>
    </header>

    </div>
    </header>

    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="#"><i class="bi bi-house-door"></i>  
                </a>
                <i class="bi bi-chevron-right link-icon"></i>
            </li>

            <li class="breadcrumb__item">
                <a class="breadcrumb__link"
                    href="#">eCommerce</a>
                    <i class="bi bi-chevron-right link-icon"></i>
            </li>

            <li class="breadcrumb__item">
                    <a class="breadcrumb__link"
                       href="#">Electronics</a>
                    <i class="bi bi-chevron-right link-icon"></i>
            </li>
        </ul>
    </div>
