 @import '../../../assets/styles/variables.scss';
 @import '../../../assets/styles/mixin.scss';



.header__logo {
    display: flex;
    align-items: center;
    padding-bottom: 36px;
  
  
    &-img {
        width: 91px;
        height: 72px;
    }
  
    &-text {
        display: inline-block;
        padding-left: 22px;
        font-weight: 600;
        font-size: 48px;
        color: #7E72F2;
  }
}

.header__logo-text {
    display: inline-block;
    padding-left: 22px;
    font-weight: 600;
    font-size: 48px;
    color: #7E72F2;   
}

.breadcrumb {


    &__list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    &__item {
      display: flex;
      align-items: center;
      padding-right: 12px;
    }
      
  
      &__link {
        cursor: default;
        text-decoration: none;
        color: $primary-normal;
        }
  
      &:last-child {
        padding-right: 0;
        font-size: 0.875rem;
        color: typography-700;
    }
  
    .link-icon {
    display: none;
    padding-left: 12px;
    font-size: 0.75rem;
    color: $typography-900;
    }
  }