@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$page-background-color: #F9F9F9;
$elements-main-color: #FFFFFF;
$button-primary-color: #6F64F8;
$button-secondary-color: #EDEDED;
$main-text-color: #2C2C2C;
$secondary-text-color: #7E72F2;
$shadow-color: grey;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-large: 600;

body {
    background-color: $page-background-color;
    position: relative!important;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
 }

 .header {
    display: flex;
    align-items: center;
    
    &__logo {
        align-self: center;
        background-image: url(../../../assets/images/logo.svg);
        margin: 10px;
        width: 90px;
        height: 70px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &__text {
        font-size: 48px;
        line-height: 27px;
        color: $secondary-text-color;
        font-weight: $font-weight-large;
    }
}