@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$page-background-color: #F9F9F9;
$elements-main-color: #FFFFFF;
$button-primary-color: #6F64F8;
$button-secondary-color: #EDEDED;
$main-text-color: #2C2C2C;
$secondary-text-color: #7E72F2;
$shadow-color: grey;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-large: 600;


.wishlist-nav-container {
    display: inline;
    text-decoration: none;

    .wishlist-nav-container__wishlist-back-btn {
        text-decoration: none;
        border: none;
        background-color: $button-primary-color;
        height: 50px;
        width: 220px;
        font-weight: 400;
        border-radius: 8px;
        margin: 15px;
        font-size: 18px;
        background-image: url(../../../assets/images/pagination-arrow-back.svg);
        background-repeat: no-repeat;
        background-position: left 5% bottom 50%;
        cursor: pointer;
    }

    .wishlist-nav-container__wishlist-clear-btn {
        border: none;
        background-color: $button-secondary-color;
        height: 50px;
        width: 220px;
        font-weight: 400;
        border-radius: 8px;
        margin: 15px;
        font-size: 18px;
        background-repeat: no-repeat;
        background-position: left 5% bottom 50%;  
        cursor: pointer;
    }
}

.wishlist-cards-wrapper {
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;

    &__container {
        border-radius: 4px;
        width: 100%;
        display: grid;
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0rem 8px;
        
        .wishlist-cards-wrapper__message {
            font-size: 24px;
        }
    }
}