<!-- <p>main-nav works!</p> -->
<div class="main-content-nav">
    <div class="filters-header">
      <div class="filters-header__nav">
        <div class="filters-header__marker">Filters</div>
        <button class="filters-header__filters-hide-button"></button>
      </div>
    </div>
    <div class="search-results">
      <div class="search-results__number">{{ itemQuantity }} Results Found</div>
      <div class="search-results__btn-container">
        <button class="search-results__discount" routerLink="/discounted"></button>  
        <button class="search-results__wishlist-button" routerLink="/wishlist"></button>
      </div>
    </div>
  </div>